@font-face {
  font-family: 'UncialA'; /* Nombre que usarás en tu CSS */
  src: url('./fonts/UncialAntiqua-Regular.ttf') format('truetype'); /* Ruta a la fuente */
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden; /* Evita el scroll */
  background-color: #000;
  font-family: UncialA;
}